// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//患教系统 base color
$orange: #1890FF;//橘色 DE7A5F 1890FF 42b983
$darkOrange: #E05D1C;//深橘色 一般用于文字
$textColor: #333333;//常规文字


// sidebar
$menuText:#bfcbd9;
// $menuText:#FFFFFF;
$menuActiveText:#409EFF;
// $menuActiveText:#FFFFFF;
// $subMenuActiveText:#FFFFFF; // https://github.com/ElemeFE/element/issues/12951
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
// $menuBg:$orange;
$menuHover:#263445;
// $menuHover:#CB5A3C;

$subMenuBg:#1f2d3d;
// $subMenuBg:$orange;
$subMenuHover:#001528;
// $subMenuHover:$orange;

// $sideBarWidth: 210px;
$sideBarWidth: 160px;


// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
